/*
-----------------------------------------------------------
				Ali Shan CSS Started
	-----------------------------------------------------------

*/

.red{
	color: darkred;
}

/*
-----------------------------------------------------------
Ali Shan CSS ends
-----------------------------------------------------------
*/
/*
	-----------------------------------------------------------
				Furqan CSS Started
	-----------------------------------------------------------
*/

.form_sign{

	margin-top:40px;
	padding-bottom:200px;
}
.form_register{
	
	margin-top:20px;
	margin-bottom:20px;
}
.passwrd_margin{
	
	margin-left:60px;
}
.a_forget{
	
	margin-left:20px;
	color:blue;
}
.signin_h1{
	margin-left:50px;
	margin-top:20px;
}
.lable_form{
	font-size:12px;
	font-weight:bold;
}
.reset_h1{
	margin-left:200px;
	margin-top:20px;
	margin-bottom:30px;
}

.noteregister{

	margin-top:50px;
	margin-bottom:200px;
}
.notesign{

	margin-top:50px;
	margin-bottom:200px;
}
.linote{
	color:gray;
	font-size:12px;
	font-weight: bold;


}
.lable_user{

	color:black;
	font-weight: bold;
	font-size: 12px;
}
.userprofile{
	margin-top: 50px;
	padding-bottom: 50px;
}
.inpute_profile{
	color: black;
	font-size: 12px;
	font-weight: bold;


}

.sign_t{

	padding: 55px;
	font-size: xx-large;
	text-transform: none;
	color: black;
}
.error{
	color: #aa0000;
}

/*
	-----------------------------------------------------------
				Furqan CSS End
	-----------------------------------------------------------
*/
/*
	-----------------------------------------------------------
				Rashid CSS Start
	-----------------------------------------------------------
*/
.banner{
	width: auto;
	height: 140px;
	background-image: url("../images/banner/banner1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.sign{

	padding: 55px;
	font-size: xx-large;
	text-transform: none;
	color: whitesmoke;
}

.form_style{
	margin-left: 2px;
	width: 190px;
	padding: 4px;
	border-radius: 4px;
}
.age{
	margin-left: 2px;
	width: 80px;
	padding: 4px;
	border-radius: 4px;
}



/*
	-----------------------------------------------------------
				Rashid CSS End
	-----------------------------------------------------------
*/
/*
	-----------------------------------------------------------
				saad CSS start
	-----------------------------------------------------------
*/


.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.radio-group label {
	overflow: hidden;
} .radio-group input {
	  height: 1px;
	  width: 1px;
	  position: absolute;
	  top: -10px;
  } .radio-group .not-active  {
		color: #3276b1;
		background-color: #fff;
	}
.clr{
	color: #ee3733;
}
/*
	-----------------------------------------------------------
				Saad CSS End
	-----------------------------------------------------------
*/
